<div class="header">
  <h1>Weather</h1>
  <button mat-stroked-button (click)="onExportJson()">
    Export as JSON
  </button>
</div>
<mat-divider></mat-divider>
<ng-container *ngIf="widget === 'wether'">
  <h5>Currently</h5>
  <section class="wether-widget">
    <mat-icon class="widget-icon">wb_sunny</mat-icon>
    <div class="value">+25</div>
  </section>
</ng-container>
<ng-container *ngIf="widget === 'velocity'">
  <h5>Last sprint</h5>
  <section class="wether-widget">
    <mat-icon class="widget-icon">assessment</mat-icon>
    <div class="value">Planned: <strong>25</strong></div>
    <div class="value">Achieved: <strong>20</strong></div>
  </section>
</ng-container>